.provider-dashboard{
    color: var(--primary-red);
    display: flex;
    justify-content: center;
}

.provider-dashboard-container{
    width: 80%;
    min-height: 500px;
    background-color: var(--secondary-white);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 50px 0;
    position: relative;
}

.dashboard-tabs{
    display: flex;
    position: absolute;
    top: -35px;
    left: 15px;
    width: 100%;
    cursor: pointer;
}

.dashboard-tabs li{
    width: 120px;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--secondary-white);
    color: var(--secondary-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.support-tab{
    position: absolute;
    right: 50px;
}

.dashboard-tabs .active{
    color: var(--primary-red);
    font-weight: bold;
}

.servo-documentation{
    color: var(--secondary-gray);
    position: absolute;
    left: 30px;
    bottom: 20px;
}

@media screen and (max-width: 775px){
    .provider-dashboard-container{
        width: 100%;
        box-sizing: border-box;
    }

    .dashboard-tabs{
        left: 0;
    }

    .support-tab{
        display: none !important;
    }
}