.main-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    color: var(--primary-white);
    z-index: 50;
    background-color: var(--secondary-white);
}
  
.main-nav-logo{
  left: 5%;
  position: absolute;
  width: 200px;
  border-radius: 10px;
}

.main-nav-links{
  margin-right: 5%
}

.main-sign-in-button{
  background-color: var(--primary-yellow);
  color: white;
}

.main-sign-in-button:hover{
  background-color: var(--primary-yellow);
}

.main-sign-up-button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  min-width: 130px;
}

.main-sign-up-button:hover {
  background-color: var(--secondary-red);
}

@media screen and (max-width: 599px){
  .main-nav-links{
    display: flex;
    flex-direction: column;
  }
}