.update-password-form {
  background-color: var(--secondary-white);
}

.update-password-form h2 {
  margin-bottom: 10px;
  color: var(--primary-blue)
}

.update-password-form input {
  width: 100%;
}

.update-password-form .errors {
  color: red;
  display: block;
  text-align: center;
}

.checkout-form li {
  all: unset;
}
.update-password-form .suggestion {
  margin: 20px 0 10px 5px;
  font-size: .95rem;
}

#suggestions {
  display: block;
  list-style-type: disc;
  padding-inline-start: 15px;
}

.update-password-form ul li {
  display: list-item;
}

.update-password-form .submit-button {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
  background-color: var(--primary-blue);
  color: #fff;
  transition: background-color 0.3s ease;
}

.update-password-form .submit-button:hover {
  background-color: var(--secondary-blue)
}

.update-password-form .submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}