.update-password-form {
  background-color: var(--secondary-white);
  border-radius: 10px;
}

/* .update-password-form h2 {
  color: var(--primary-blue);
} */

.update-password-form input {
  margin: 0 auto;
  margin-bottom: 15px;
}

.update-password-form .submit-button {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
  background-color: var(--primary-blue);
  color: #fff;
  transition: background-color 0.3s ease;
}

.update-password-form .submit-button:hover {
  background-color: var(--secondary-blue)
}

.update-password-form .submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.update-password-form .errors {
  color: red;
  text-align: center;
}

.checkout-form li {
  all: unset;
}