.update-password-form {
  background-color: var(--secondary-white);
}

.update-password-form input {
  width: 100%;
}

.update-password-form .submit-button {
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
  background-color: var(--primary-blue);
  color: #fff;
  transition: background-color 0.3s ease;
}

.update-password-form .submit-button:hover {
  background-color: var(--secondary-blue)
}

.update-password-form .submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.update-password-form .errors {
  color: red;
  display: block;
  text-align: center;
}

.checkout-form li {
  all: unset;
}