.home-main{
    color: var(--primary-black);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative
}

.home-main .vendor-index-container:first-child{
    margin-top: 30px
}

.home-main>*:not(:last-child)::after{
    content: '';
    width: 100%;
    border-bottom: 2px solid var(--secondary-white);
    display: block;
    margin-top: 15px
}

@media screen and (max-width: 599px){
    .home-main{
        margin-left: 0;
        overflow-x: auto;
    }
}