.home-nav{
    color: var(--primary-blue);
    background-color: var(--primary-white);
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    user-select: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    box-shadow: 0 0 3px rgb(0 0 0 / 0.05), 0 0 10px -5px rgb(0 0 0 / 0.5);
}

.location-btn{
    background-color: var(--primary-yellow);
    font-size: 12px;
    max-height: 30px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 20px;
    width: auto;
}

.user-address{
    font-size: 15px;
    color: var(--primary-gray);
}

.location-btn:hover{
    background-color: var(--primary-yellow);
    cursor: auto;
}

.main-logo{
    width: 130px;
    margin: 0 10px;
}


/* ==========VALENTINES DAY THEME -- LOGO================= */

/* .main-logo #path68{
    fill: #e32948 !important;
}

.main-logo #path72{
    fill: #f1778c !important;
}

.main-logo #path76{
    fill: #e32948 !important;
}

.main-logo #path80{
    fill: #f1778c !important;
}

.main-logo #path84{
    fill: #e32948 !important;
} */


/* =========================== */
/* ==========ST PATRICKS DAY THEME -- LOGO================= */

/* .main-logo #path68{
    fill: #42b546 !important;
}

.main-logo #path72{
    fill: var(--primary-green) !important;
}

.main-logo #path76{
    fill: #42b546 !important;
}

.main-logo #path80{
    fill: var(--primary-green) !important;
}

.main-logo #path84{
    fill: #42b546 !important;
} */

/* =========================== */
/* ==========EASTER THEME -- LOGO================= */

.main-logo #path68{
    fill: #6de5df  !important;
}

.main-logo #path72{
    fill: #a8f75f !important;
}

.main-logo #path76{
    fill: #f4eb42 !important;
}

.main-logo #path80{
    fill: rgb(244 200 107) !important;
}

.main-logo #path84{
    fill: #f575cd!important;
}
/* =========================== */

.hamburger-menu{
    fill: var(--primary-gray);
    color: var(--primary-gray);
    flex-shrink: 0;
}

.home-nav svg:hover{
    cursor: pointer;
}

.logo-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.home-nav-left{
    /* width: 40%; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 5%;
}

.home-nav-left-inner-container{
    width: 25vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.home-nav-right{
    margin-right: 5%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 599px) {
    .home-nav h1{
      display: none;
    }

    .home-nav-right{
        margin-right: 0;
    }

    .user-address{
        padding: 10px;
        width: 150px;
    }

    .location-btn{
        display: none;
    }
}
