.pricing-calculator{
    background-color: white;
    border-radius: 8px;
    display: flex;
    height: auto;
}

.calculator-left{
    width: 55%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--secondary-white);
    padding: 15px;
    position: relative;
}

.pricing-calculator h3{
    font-size: 16px;
    margin-bottom: 10px;
}

.calculator-right{
    width: 40%;
    padding: 15px;
    position: relative;
    flex-direction: column;
    display: flex;
}

.recurring-section-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recurring-toggle-background{
    width: 50px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--secondary-white);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 7px;
    margin-top: -5px;
}

.recurring-toggle-circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-gray);
    left: 7px;
    transition: left 0.3s ease, background-color 0.3s ease;
    position: absolute;
}

.recurring-circle-active{
    left: 33px;
    background-color: var(--primary-green);
}

.recurring-circle-active:hover{
    background-color: var(--secondary-green);
}

.recurring-toggle-background:hover{
    cursor: pointer;
}

.calculator-main{
    width: 100%;
    min-height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    position: relative;
    box-sizing: border-box;
    margin-top: 15px;
}

form{
    width: 100%;
}

.accept-button{
    margin: 25px 0 0 0;
    border-radius: 6px;
    background-color: var(--primary-red);
    width: auto;
}

.accept-button:hover{
    background-color: var(--secondary-red);
}

.subtotal{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 22px;
    color: var(--primary-red);
    font-weight: bold;
}

@media screen and (max-width: 699px){
    .pricing-calculator{
        display: block;
    }

    .calculator-left, .calculator-right{
        width: 95%;
        border: none;
    }
}