.review-show {
    min-width: 20vw;
    max-width: 30vw;
    min-height: 35vh;
    padding: 25px !important;
    box-sizing: border-box;
    gap: 13px;
}

.review-show .close-icon {
    margin-bottom: 12px;
}

.review-show .review-show-stars{
    transform: scale(1);
    /* margin: 15px 0; */
}

.review-show .review-stars-container {
    margin-left: 0;
}

.review-show .review-show-body {
    line-height: 18px;
    font-size: .9rem;
    width: 80%;
}