<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Work Order from BookServo.com</h1>
    <p>See the attached work order</p>
  </body>
</html>