.return-customer-checkout-form li{
    width: 100%;
    border: 1px solid var(--primary-red);
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    accent-color: var(--primary-red);
    font-weight: bold;
}

.return-customer-checkout-form li:hover{
    background-color: var(--secondary-white);
}