.user-account{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-white);
    color: pink;
}

.user-account-backdrop{
    margin-top: 30px;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
}

.update-forms {
    display: flex;
}

.user-account input{
    background-color: white;
    margin-top: 15px;
}

.user-account form{
    display: flex;
    flex-direction: column;
}

/* media queuries */

@media screen and (max-width: 699px) {
    .update-forms {
        flex-direction: column;
    }
}