.user-account{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-white);
    color: pink;
}

.user-account-backdrop{
    margin-top: 30px;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
}

.user-account h1 {
    margin-bottom: 3%;
}

.update-forms {
    display: flex;
}

.update-forms .edit-btn {
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    margin: 10px 0 0 0;
    background-color: white;
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    font-weight: bold;
}

.update-forms .edit-btn:hover {
    background-color: var(--secondary-white);
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue)
}

.user-account input{
    background-color: white;
    margin-top: 15px;
    width: 90%;
}

.user-account form{
    display: flex;
    flex-direction: column;
}

.user-account form button {
    margin-top: 15px;
}

/* media queuries */

@media screen and (max-width: 699px) {
    .update-forms {
        flex-direction: column;
    }
}