.appointment-scheduling{
    min-height: 325px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px;
    position: relative;
}

.appointment-scheduling h3{
    font-size: 16px
}

.scheduling-output{
    color: var(--primary-red);
    font-weight: bold;
    font-size: 22px;
}

.appointment-scheduling .react-datepicker{
    flex-shrink: 0;
    flex-grow: 0;
    margin: 30px 0;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    max-width: 567px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);
    position: relative;
}

.react-datepicker__day{
    border-radius: 4px;
}

.react-datepicker__time-container{
    border: none !important;
}

.appointment-scheduling .react-datepicker__header{
    background-color: var(--secondary-white);
    border: none;
}

.appointment-scheduling .react-datepicker__current-month{
    margin: 5px 0 10px 0;
}

.react-datepicker__aria-live {
    display: none;
}

.appointment-scheduling .react-datepicker__day--keyboard-selected, .appointment-scheduling .react-datepicker__day--selected{
    background-color: var(--primary-red);
}

.appointment-scheduling .react-datepicker__day--keyboard-selected:hover, .appointment-scheduling .react-datepicker__day--selected:hover{
    background-color: var(--secondary-red);
}

.appointment-scheduling .react-datepicker__day--keyboard-selected{
    background-color: transparent;
    color: unset;
}

.appointment-scheduling .react-datepicker__time-list-item--disabled{
    display: none;
}

.react-datepicker__time-list-item--selected{
    background-color: var(--primary-red) !important;
}

.react-datepicker__day--outside-month{
    color: var(--secondary-gray) !important;
}

.scheduling-continue-button{
    width: 50%;
    min-width: 260px;
    margin: 0 auto;
}