.dashboard-general{
    display: flex;
}

.general-left > *, .general-right > *{
    margin: 7px;
}

.general-left, .general-right{
    display: flex;
    flex-direction: column;
}

.general-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dashboard-general h2{
    font-size: 25px;
    margin-bottom: 5px;
}

.dashboard-general p{
    line-height: 20px;
}

.edit-button{
    height: 28px;
    margin: 10px 0 0 0;
    background-color: white;
    border: 2px solid var(--primary-red);
    color: var(--primary-red)
}

.edit-button:hover{
    background-color: var(--secondary-white);
    border: 2px solid var(--primary-red);
    color: var(--primary-red)
}

.general-info-container{
    min-width: 300px;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.info-form{
    display: flex;
    flex-direction: column;
}

.info-form input{
    padding: 3px;
    margin: 5px;
}

.info-submit-button{
    background-color: var(--primary-green);
    border: none;
    color: white;
}

.info-submit-button:hover{
    background-color: var(--secondary-green);
    border: none;
    color: white;
}

.minimize{
    display: none !important;
}


.dashboard-general .gallery-header{
    display: none;
}

.dashboard-general .vendor-index-item{
    width: 340px;
    margin: 0;
}

@media screen and (max-width: 850px){
    .dashboard-general{
        flex-direction: column;
    }

    .general-right{
        align-items: start;
    }

    .dashboard-general .vendor-index-item{
        width: 100%;
        box-sizing: unset;
    }
}