.cart-item{
    border-bottom: 0.5px solid rgb(231, 231, 231);
    border-top: 0.5px solid rgb(231, 231, 231);
    min-height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item:hover{
    background-color: var(--secondary-white);
}

.cart-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
    width: 150px;
    flex-wrap: wrap;
    min-height: 35px;
}

.cart-item-options{
    margin: 5px;
}

.cart-item-option{
    color: var(--secondary-gray);
    font-size: 12px;
    margin: 2px;
    font-weight: lighter;
}

.cart-item-name{
    font-weight: 500;
    font-size: 13px;
}

.cart-item-price{
    font-weight: normal;
    font-size: 12px;
}

.cart-item-image{
    height: 100%;
    max-width: 80px;
    object-fit: cover;
    border-radius: 2px;
    position: relative;
}

.cart-item-image-background{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    min-width: 90px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);
}

.cart-item-remove-button{
    background-color: var(--primary-white);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 0 2px 0 var(--secondary-gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-black)
}

.cart-item-remove-button:hover{
    background-color: var(--primary-white);
}

.cart-item-remove-button svg{
    margin-left: 0;
}