.order-index-item{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    margin: 10px 0;
    border: solid 1px rgb(231 231 231);
}

.order-index-item-header{
    background-color: var(--secondary-white);
    width: 98%;
    padding: 1%;
    height: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#arrow-svg{
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.order-index-item-body{
    width: 98%;
    height: 50%;
    padding: 0 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--primary-gray);
}

.vendor-logo-orders {
    padding: 0px !important;
}


.order-index-item-expanded{
    width: 100%;
    display: flex;
    height: 240px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 10px 0;
    border: solid 1px rgb(231 231 231);
}

.order-index-item-expanded > p {
    padding: 10px;
}

.order-index-item-header {
    transition: transform 0.3s ease-in-out;
}

#rotated-arrow-svg {
    transition: transform 0.3s ease-in-out;
    transform: scale(0.8) rotate(90deg);
}

.order-status {
    padding-left: 20px;
}

.order-index-item-body,
.order-index-item-body-expanded {
    transition: height 0.3s ease-in-out; /* Added transition */
}