.provider-show{
    position: relative;
    display: flex;
    background-color: var(--secondary-white);
    height: 65vh;
    min-height: 600px;
    width: 80%;
    min-width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: 75px auto;
}

.provider-show-right{
    position: relative;
    height: 100%;
    width: calc(60% - 15px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.provider-show-left{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 15px;
    min-width: 250px;
}

.provider-show-left > *{
    padding: 15px;
    border-radius: 8px;
    margin: 0 15px 15px 0;
    box-sizing: border-box;
    width: 100%;
}

.meta-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.provider-name{
    font-weight: 500;
    font-size: 27px;
}

.provider-category{
    position: absolute;
    left: 0px;
    top: 90px;
    transform: translate(80%, 10%);
    background-color: var(--secondary-white);
    padding: 15px 20px 30px 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 25px;
}

.review-tag{
    color: var(--secondary-gray);
    margin-top: 10px;
}

.location-details-container{
    background-color: white;
    display: flex;
    padding: 15px;
    color: var(--primary-red);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.promotions-header, .reviews-header{
    font-size: 16px;
    margin: 0 15px 15px 0;
}

.promotions{
    background-color: var(--secondary-white);
    background-color: white;
    width: 100%;
}

.promotion{
    background-color: rgba(99, 196, 102, 0.9);
    color: white;
    height: 33px;
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.promotion:hover{
    background-color: rgba(99, 196, 102, 1);
}


.reviews{
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
}

.provider-review-index{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.provider-gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 372px;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
}


.provider-photo{
    height: 158px;
    width: 158px;
    margin: 8px;
    object-fit: cover;
    border-radius: 5px;
}

.provider-photo:hover{
    transform: scale(1.01);
}

.provider-pricing, .provider-sheduling{
    width: 100%;
    height: calc(100% - 482px);
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--secondary-white);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pricing-preview, .scheduling-preview{
    color: var(--primary-red);
    font-size: 16px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.get-price-button, .schedule-button{
    background-color: var(--primary-red);
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

.get-price-button:hover, .schedule-button:hover{
    background-color: var(--secondary-red);
}

@media screen and (max-width: 599px){
    .provider-show{
        flex-direction: column;
        overflow: auto;
        margin: 75px 0;
        width: calc(100vw - 40px);
        height: 100%;
    }

    .provider-category{
        transform: translate(20%, 10%);
    }

    .provider-show-left, .provider-show-right{
        width: 100%;
    }
}