.provider-show{
    position: relative;
    display: flex;
    background-color: var(--secondary-white);
    min-height: 65vh;
    min-height: 600px;
    width: 80%;
    min-width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    /* margin: 75px auto; */
}

.provider-show-right{
    position: relative;
    height: 100%;
    width: calc(60% - 15px);
    display: flex;
    flex-direction: column;
}

.provider-show-left{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 15px;
    min-width: 250px;
}

.provider-show-left > *{
    padding: 15px;
    border-radius: 8px;
    margin: 0 15px 15px 0;
    box-sizing: border-box;
    width: 100%;
}

.meta-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.provider-name{
    font-weight: 500;
    font-size: 27px;
}

.provider-category{
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translate(-50%, 10%);
    background-color: var(--secondary-white);
    min-width: 300px;
    box-sizing: border-box;
    padding: 15px 20px 30px 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    color: var(--primary-gray)
}

.review-tag{
    color: var(--secondary-gray);
    margin-top: 10px;
}

.location-details-container{
    background-color: white;
    display: flex;
    padding: 15px;
    color: var(--primary-red);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.promotions-header, .reviews-header, .gallery-header{
    font-size: 16px;
    margin: 0 15px 15px 0;
}

.promotions{
    background-color: var(--secondary-white);
    background-color: white;
    width: 100%;
}

.promotion{
    background-color: rgba(99, 196, 102, 0.9);
    color: white;
    height: 32px;
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.promotion:hover{
    background-color: rgba(99, 196, 102, 1);
}


.reviews{
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
}

.provider-review-index{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.provider-gallery, .pricing-calculator{
    /* height: 332px; */
    height: 200px;;
    padding: 10px;
    flex-shrink: 0;
    font-size: 16px;
}

.gallery-container{
    background-color: white;
    border-radius: 8px;
    /* margin-top: 100px; */
}

.gallery-header{
    margin: 15px 0 -8px 20px;
}

.gallery-placeholder{
    width: 100%;
    height: 50px;
    background-color: var(--secondary-white);
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    padding: 30px 10px;
} 

.provider-gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    box-sizing: border-box;
}

.view-gallery-button{
    background-color: white !important;
    color: var(--primary-red) !important;
    font-size: 20px
}

.provider-photo{
    /* height: 140px;
    width: 140px; */
    height: 160px;
    width: 160px;
    margin: 8px;
    object-fit: cover;
    border-radius: 5px;
}

.provider-photo:hover{
    transform: scale(1.01);
}

.provider-pricing, .provider-scheduling{
    width: 100%;
    /* height: calc(100% - 200px); */
    display: flex;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
}

.pricing-preview, .scheduling-preview{
    color: var(--primary-red);
    font-size: 16px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    position: relative
}

.get-price-button, .schedule-button, .view-gallery-button{
    background-color: var(--primary-red);
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    flex-shrink: 0;
    flex-grow: 0;
}

.get-price-button:hover, .schedule-button:hover{
    background-color: var(--secondary-red);
}

.disclaimer{
    color: var(--secondary-gray);
    font-size: 12px;
    width: 95%;
    position: relative;
    top: 15px;
    left: 0px;
}

.minimize{
    display: none;
}

.provider-price-icon{
    width: 55px;
    height: auto;
    margin-right: 5px
}

.provider-calendar-icon{
    width: 45px;
    height: auto;
    margin-right: 10px;
    margin-left: 3px;
}

@media screen and (max-width: 599px){
    .provider-show{
        flex-direction: column;
        overflow: auto;
        margin: 75px 0;
        width: calc(100vw - 40px);
        height: 100%;
    }

    .provider-show-left, .provider-show-right{
        width: 100%;
    }
}